//
// Base styles
//

//文章列表
.article-list {
    .article-list-head {
        height: 46px;
        color: #333;
        background: $white;
        font-weight: 600;
        font-size: 15px;
        line-height: 46px;
        padding-left: 15px;
        border-bottom: 1px solid #ebeff1;
    }

    .article-list-contain {
        background-color: #fff;

        .item {
            padding: 1rem 1rem;
            overflow: hidden;
            font-size: .75em;
            border-bottom: 1px solid #f3f5f7;
            display: flex;

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            width: 100%;
            min-height: 0;
            background: 0 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: -webkit-box-shadow .1s ease;

            .image {
                position: relative;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                display: block;
                float: none;
                margin: 0;
                padding: 0;
                width: 175px;
                overflow: hidden;

                + .content {
                    min-width: 0;
                    width: auto;
                    display: block;
                    margin-left: 0;
                    -ms-flex-item-align: top;

                    padding-left: 1.5em;
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: .125rem;
                    border: none;
                    overflow: hidden;
                    max-height: 135px;
                }
            }

            .content {
                display: block;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                background: 0 0;
                margin: 0;
                padding: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                font-size: 1em;
                border: none;
                border-radius: 0;

                .header {
                    display: inline;
                    font-size: 1.375rem;
                    margin: 0;
                    font-weight: 400;
                    position: relative;
                    top: 1px;
                    line-height: 1.5625rem;
                }

                .meta {
                    margin: .5em 0 .5em;
                    font-size: .825rem;
                    line-height: 1em;
                    color: #a1a8ac;
                }

                .description {
                    color: #777;
                    font-size: 14px;
                    line-height: 22px;
                    margin: 10px 0;
                }

                .extra {
                    display: block;
                    position: relative;
                    background: 0 0;
                    margin: .5rem 0 0;
                    width: 100%;
                    padding: 0 0 0;
                    top: 0;
                    left: 0;
                    color: rgba(0, 0, 0, .4);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    -webkit-transition: color .1s ease;
                    transition: color .1s ease;
                    border-top: none;
                }
            }
        }
    }
}

//文章时间线
.articles-li {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    .articles-change {
        margin-top: 0;
        border-left: 1px solid #efefef;
        padding: 15px 0;
        position: relative;

        .articles-title {
            padding-left: 1.25rem;
            margin-top: 1.25rem;

            &:first-child {
                margin-top: 0;
            }

            &:before {
                content: "";
                background-color: #f99750;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                display: block;
                position: absolute;
                left: -3px;
                margin-top: 5px;
            }

            span {
                font-size: .75rem;
                color: #aaa;
                margin-top: 10px;
                display: block;
            }
        }
    }
}

//文章详情
.article {
    .article-heading {
        border-bottom: 1px solid #efefef;
        padding: 15px;

        .title {
            font-size: 34px;
            line-height: 44px;
            font-weight: 700;
            color: #222;
            text-align: center;
            padding: 10px 0;
        }

        .info {
            text-align: center;
            font-size: 12px;
            padding: 10px 0;

            a {
                color: #2464b2;
            }

            span {
                margin: 0 5px;
            }
        }
    }

    .article-body {
        padding: 20px;
        color: #222;
        line-height: 28px;
        font-size: 1rem;

        p {
            margin: 32px 0 0;
        }

        img {
            width: 80%;
        }
    }
}

