.media {
    .article-img {
        width: 176px;
        height: 132px;
    }

    .article_title {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #303030;
        position: relative;
        vertical-align: middle;
        margin-bottom: 0.3125rem !important;
        height: 1.75rem;
        margin-top: -0.1875rem;
        overflow: hidden;
    }

    .article-excerpt {
        height: 2.8em;
        margin-bottom: 4.5em;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        color: #828a92;
        font-size: .875rem;
        font-weight: 400;
    }

    .article_userinfo {
        width: 100%;
        position: absolute;
        bottom: -0.1875rem;
    }

    .article_author {
        color: #303030;
    }

    .read_number_style {
        color: #0099ee;
    }

    @media screen and (max-width: 992px) {
        .article-img {
            display: none;
        }
        .article_title {
            font-size: .875rem;
        }
        .article-excerpt {
            font-size: .75rem;
        }
    }
}


.article {
    min-height: 80vh;
    margin-bottom: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    color: #303030;

    .article-header {
        margin-bottom: 20px;
        padding: 25px 0;
        border-bottom: 1px solid #eee;
        text-align: center;

        .article-title {
            margin-top: 0;
            font-size: 1.625rem;
            line-height: 2.25rem;
        }

        .article-meta {
            font-size: .875rem;
            color: #999;
            .item {
                margin-right: 1.25rem;
            }
        }
        @media screen and (max-width: 992px) {
            .article-title {
                font-size: 1.25rem;
            }
            .article-meta {
                font-size: .625rem;
                .item {
                    margin-right: 1rem;
                }
            }
        }
    }

    .article-content {
        font-size: 1rem;
        line-height: 1.9;
        word-wrap: break-word;
        text-align: justify;

        img {
            margin: 5px auto;
            display: block;
            max-width: 100%;
            height: auto
        }

        a {
            text-decoration: underline;
            color: #45B6F7;
            &:hover {
                color: #FF5E52;
            }
        }

        p {
            margin-bottom: 20px;
            word-wrap: break-word;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .article-content {
            font-size: .875rem;
        }
    }
}


