.login-box {
    min-height: 80vh;
    background: #f0f5f8;
    padding: 7rem 0;
    .title {
        font-size: 1.5rem;
        margin: 10px 0;
        font-family: inherit;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
    }
    .login_inside_box {
        padding: 2rem 13rem 4rem;
        border-radius: 5px;
    }
    .login-form {
        input {
            padding: 0.7rem 0.7rem;
        }
    }
    @media (max-width: 768px) {
        .login-form {
            margin-bottom: 30px
        }
    }
    .btn-login {
        background: #0099ee;
    }
    .login-sns {
        a {
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 50%;
            line-height: 30px;
            font-size: 20px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .register_btn {
        border: 1px solid #ced4da;
        font-size: .875rem;
    }
}

@media (max-width: 992px) {
    .login-box {
        padding: 1rem 0;
        .login_inside_box {
            padding: 2rem 1rem 2rem;
        }
    }
}

