.login-box {
    min-height: 80vh;
    padding: 7rem 0;

    .title {
        font-size: 1.5rem;
        margin: 10px 0;
        font-family: inherit;
        line-height: 1.25rem;
        color: inherit;
        text-rendering: optimizelegibility;
    }

    .login_inside_box {
        padding: 2rem 13rem 4rem;
        border-radius: .3125rem;
    }

    @media (max-width: 992px) {
        .login_inside_box {
            padding: 2rem 1rem 2rem;
        }
    }
    .login-form {
        input {
            padding: 0.7rem 0.7rem;
        }
    }

    @media (max-width: 768px) {
        .login-form {
            margin-bottom: 2rem
        }
    }

    .btn-login {
        background: #4285f4;
    }

    .login-sns {
        a {
            width: 2rem;
            height: 2rem;
            display: inline-block;
            border-radius: 50%;
            line-height: 2rem;
            font-size: 1.25rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .register_btn {
        border: 1px solid #ced4da;
        font-size: .875rem;
    }
}

@media (max-width: 992px) {
    .login-box {
        padding: 1rem 0;
    }
}

//右侧消息菜单
.widget-messages {
    padding: 1rem;
}

.widget-message-item {
    display: block;
    color: #666;
    margin-left: -10px;
    padding: 6px 10px;
    width: 100%;
    text-decoration: none
}

//通知
.widget-notify {
    .not_read {
        background: #FFF9EA;
    }

    .notify-item {
        position: relative;
        border-bottom: 1px solid #EEE;
        padding-top: 1rem;
        padding-bottom: .625rem;
        margin-top: 0;

        .text-muted {
            margin-bottom: .25rem
        }
    }
}

//站内信
.message-list {
    margin-bottom: 20px;

    .meta {
        font-size: 13px;
    }

    .message-item {
        position: relative;
        border-bottom: 1px solid #EEE;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-top: 0;

        .full-text {
            color: #777;
            font-size: 13px;
            line-height: 1.7;
            overflow: hidden;
            margin-bottom: 5px;
            margin-top: 4px;
        }
    }
}

