/*  ul, dl 多列定义，用来模拟简单的表格布局，如果不考虑响应，比 pull-left pull-right 方便  */

dl.row, ul.row {
    display: table;
    width: 100% !important;
    clear: both;
}

dl.row, dl.row > dt, dl.row > dd, ul.row, ul.row > li {
    margin: 0;
    padding: 0;
}

dl.row > dt, dl.row > dd, ul.row > li {
    display: table-cell;
    vertical-align: middle;
}

dl.row > dt, dl.row > dd, ul.row > li {
    list-style: none;
    min-height: 1.6rem;
}

dl.row > dt, dl.row > dd {
    width: auto;
}

dl.row > dt {
    font-weight: normal;
}

/*用户头像*/
.avatar-1 {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 1.3rem;
}

.avatar-2 {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.8rem;
}

.avatar-3 {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 2.4rem;
}

.avatar-4 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
}

.avatar-5 {
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
}
