// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "user";

// Article
@import "article";

.footer {
    background: #fff;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    font-size: 0.875rem;
    padding: 1.25rem 0;
    color: #9aa0ac;
}